ion-content ion-toolbar {
    --background: translucent;
}

ion-toolbar {
    background-color: #379b80;
    color: white;
    text-align: center;
}

ion-progress-bar {
    background-color: #379b80;
}