<ion-header>
    <ion-toolbar color="greenglobe">
        <ion-title>
            Eventos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <br>
    <ion-button color="medium" expand="full" fill="outline" (click)="showFilter()">Tipo de evento</ion-button>
    <div *ngIf="showFilters">
        <ion-list>
            <ion-item>
                <ion-label>Todos</ion-label>
                <ion-checkbox [(ngModel)]="all" (ionChange)="selectAllTypes()"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Ninguno</ion-label>
                <ion-checkbox [(ngModel)]="none" (ionChange)="selectNoneTypes()"></ion-checkbox>
            </ion-item>
            <ion-item *ngFor="let tipo of tipos">
                <ion-label>{{tipo.descripcion}}</ion-label>
                <ion-checkbox [(ngModel)]="tipo.cheked" (ionChange)="selectAnType(tipo)"></ion-checkbox>
            </ion-item>

        </ion-list>
        <ion-button expand="block" color="medium" (ionFocus)="filtrar()">Filtrar</ion-button>
    </div>
    <!-- <ion-list>
        <ion-item>
            <ion-label>Tipo de evento</ion-label>
            <ion-select [(ngModel)]="selectedValues" cancel-text="CANCELAR" multiple="true" (ionChange)="OnChange($event)" interface="alert">
                <ion-select-option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.descripcion}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>-->

    <ion-progress-bar *ngIf="loading" color="light" type="indeterminate"></ion-progress-bar>
    <ion-segment mode="ios" (ionChange)="segmentChanged($event.target.value)" value="enProgreso">
        <ion-segment-button value="enProgreso">
            <ion-label>En Progreso</ion-label>
        </ion-segment-button>
        <ion-segment-button value="finalizados">
            <ion-label>Finalizados</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div *ngFor="let evento of eventos">
        <app-evento-card [evento]="evento"></app-evento-card>
    </div>
</ion-content>