ion-content ion-toolbar {
    --background: translucent;
}

ion-toolbar {
    text-align: center;
}

ion-progress-bar {
    background-color: #379b80;
}

ion-card {
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}

ion-input {
    margin-left: 10px;
}

.nameEvento {
    font-size: 25px;
}

ion-icon {
    vertical-align: middle;
}

ion-textarea {
    margin-left: 10px;
    vertical-align: middle;
}

ion-title {
    text-align: center;
    padding-left: 0px;
    margin-left: -30px;
}

.btn {
    margin-top: 5px;
}

.imagen-container {
    width: 100%;
    height: 200px;
    display: block;
}

ion-slides {
    --bullet-background-active: white;
    border-color: #666666;
}

// ion-img {
//     height: 100%;
//     width: 100%;
// }
::ng-deep [aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
    border-color: #379b80;
}

::ng-deep [aria-checked=true].sc-ion-alert-md .alert-radio-inner.sc-ion-alert-md {
    border-color: #379b80;
    background-color: #379b80;
}

::ng-deep .alert-wrapper.sc-ion-alert-md {
    width: -webkit-fill-available;
}

::ng-deep .alert-button.sc-ion-alert-md {
    color: #379b80;
}

::ng-deep .picker-button.sc-ion-picker-md,
.picker-button.ion-activated.sc-ion-picker-md {
    color: #379b80;
}

::ng-deep .picker-opt.picker-opt-selected,
.picker-prefix,
.picker-suffix {
    color: #379b80;
}